

body {
    background-color: slategrey;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game {
    background-color: lightsteelblue;
    
    min-width: 900px;
    max-width: 900px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

img {
    width: 700px;
    height: 355px;
    vertical-align: middle;
    display: inline;
    margin: 0px;
}

video {
    width: 700px;
    height: 355px;
    vertical-align: middle;
    display:inline-block;
    margin: 0;
}


.imgchanger {
   
    text-align: center;
}

.logo{
    font-family: 'Paytone One', sans-serif;
    font-size: 200%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

h2 {
    font-family: 'Rubik Mono One', sans-serif;
}

p{
    font-family: 'Ubuntu Mono', monospace;
    
}

.choix {
    margin-top: 5px;
    width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   font-family: 'Ubuntu Mono', monospace;
   text-align: center;
}


button{
    width: 150px;
    height: 53px;
    display: flex;
    justify-content: center;
    background-color: slategrey;
    border: 5px solid #8097e2;
    border-radius: 10px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 14px;
    text-align: center;
    margin:3px 17px;
    padding: 10px;
}

div.start{
    align-self: flex-end;
    
}

label{
    align-self: flex-start;
    align-items: flex-end;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: -25px;
}

.fête {
    background-color: rgb(87, 235, 255);
  
}



.fête .game{
    background-color: rgb(33, 255, 96);
    color: rgb(40, 37, 245);
}



.fête .game:hover{
    background-color: rgb(255, 0, 212);
}

.fête button{
    background-color: rgb(255, 225, 0);
    border: 5px solid  rgb(133, 2, 255);
    color:rgb(40, 37, 245);
}

 .metro{
    background-image: linear-gradient(   rgba(112, 128, 144, 0.784),  rgba(112, 128, 144, 0.784)),url("./assets/entreprise.jpg");
    background-repeat: no-repeat;
   background-size: 100%;
}